:root {
  --font-primary: #D3CA79;
  --font-secundary: #FFB200;
  --color-primary: #EA7300;
  --color-secundary: #E83F25;
  --color-background: #A62C2C;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color-background);
}

ul,
li {
  list-style: none;
}

.header_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  text-transform: uppercase;

  & img {
    width: 190px;
    height: auto;
  }
}

.nav_container li:first-child {
  color: var(--font-primary);
  /* background-color: var(--color-primary); */
}


.nav_container li a {
  color: var(--font-primary);
  text-decoration: none;
  background-color: var(--color-secundary);
  padding: 10px 15px;
  display: block;
}

.nav_container li a:hover {
  background-color: var(--color-primary);
}

.nav_container li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.nav_container li:hover>ul {
  display: block;
}
