/* filtro de clases */
.clases input[type="radio"] {
  display: none;
}

.filtros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  font-family: var(--font-menu);
}

.filtros label {
  background: #E83F25;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.filtros label:hover {
  background: #EA7300;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
  padding: 0 20px;
  align-items: start;
  grid-auto-flow: dense;
}

.clase {
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease;
  display: block;
  margin-bottom: 80px;
}

.clase img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
}

/* Hover */
.clase:hover {
  transform: scale(1.05);
}

/* Mostrar/Ocultar por filtros */
#todos:checked~.galeria .clase {
  display: block;
}

#musculacion:checked~.galeria .clase:not(.musculacion),
#crossfit:checked~.galeria .clase:not(.crossfit),
#yoga:checked~.galeria .clase:not(.yoga),
#spinning:checked~.galeria .clase:not(.spinning) {
  display: none;
}

/* SECCIÓN TARJETAS */

.info-clases {
  padding: 40px 20px;
  color: #333;
  text-align: center;
}

.tarjetas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.tarjeta {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.tarjeta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.tarjeta:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tarjeta:hover .overlay {
  opacity: 1;
}

/* SECCIÓN HORARIOS */

.horarios {
  padding: 40px 20px;
  text-align: center;
  text-transform: uppercase;
}

.horarios h2 {
  text-decoration: underline;
}

.tabla-container {
  background-color: var(--color-background);
  overflow-x: auto;
  margin-top: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
  min-width: 600px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #ea7300;
  color: #fff;
}

@media (max-width: 768px) {
  .tarjetas-container {
    flex-direction: column;
    align-items: center;

  }

  table {
    font-size: 14px;
  }
}
